// CSS reset
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png")
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// --------------------
// ----- variables
$primary:#ff0121;
$color-primary:#fff;

$gray:#666;
$gray-light:#aaa;

$body-color:#fff;

$footer-height:75px;

$table-padding:25px;

// --------------------
// ----- mixin
@mixin font-lato() {
  font-family: 'Lato', sans-serif;
}

@mixin font-raleway() {
  font-family: 'Raleway', sans-serif;
}

// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#b70003+0,ff0121+100
@mixin gradient() {
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// --------------------
// ----- general styling
html, body {height:100%; min-height:100%; background-color:$body-color; @include font-lato; color:#333;}
img {max-width:100%;}

h1, h2, h3, h4, h5 {@include font-raleway;}

.clearfix {
  &:after {content:''; clear:both; display:block; width:100%;}
}

.flex-container {
  display:flex; justify-content:center; align-items:center; align-content:center; flex-wrap:wrap;
}

// --------------------
// ----- site main
.site-main {height:100%; padding-bottom:$footer-height;}

// site-header
.site-header {@extend .clearfix;
  .clock {float:left; width:50%; padding:$table-padding;
    h2 {font-size:24px;}
    h3 {font-size:52px;}
  }
  .site-logo {float:left; width:50%; text-align:right; padding:10px;}
}

// left-main
.left-main {width:40%; height:100%; float:left;}

// right-main
.right-main {@extend .left-main; width:60%;}

// info list
.info-list {
  h3 {@include gradient(); color:$color-primary; padding:$table-padding; font-size:32px; font-weight:bold;}
  table {width:100%; font-size:24px;
    thead {background:$gray-light;
      tr {
        th {padding:$table-padding; text-align:left; font-weight:bold;
          &:last-child {text-align:right;}
        }
      }
    }
    tbody {
      tr {
        td {padding:$table-padding; text-align:left;
          &:last-child {text-align:right;}
        }
      }
      tr + tr {border-top:1px solid $gray;}
    }
  }
}

// site-video
.site-video {height:60%; overflow:hidden; background-color:#222;}

// queue
.site-queue {height:40%;
  .queue-wrapper {float:left; width:50%; height:100%;
    .queue {width:100%; height:100%; @include gradient(); color:$color-primary; text-align:center;
      h1 {font-size:152px; @include font-lato; font-weight:bold; display:block; width:100%;}
      h2 {font-size:82px; display:block; width:100%;}
    }
    //
    & + .queue-wrapper {border-left:1px solid #fff;}
  }
}

// --------------------
// ----- footer
.site-footer {position:fixed; left:0; bottom:0; width:100%; z-index:2; height:$footer-height; padding:20px 0; font-size:32px; border-top:1px solid $primary; overflow:hidden; text-overflow:clip; background:#fff;
  p {width:100%; text-overflow:clip;}
}
