/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png"); }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #333; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif; }

.clearfix:after, .site-header:after {
  content: '';
  clear: both;
  display: block;
  width: 100%; }

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }

.site-main {
  height: 100%;
  padding-bottom: 75px; }

.site-header .clock {
  float: left;
  width: 50%;
  padding: 25px; }
  .site-header .clock h2 {
    font-size: 24px; }
  .site-header .clock h3 {
    font-size: 52px; }

.site-header .site-logo {
  float: left;
  width: 50%;
  text-align: right;
  padding: 10px; }

.left-main, .right-main {
  width: 40%;
  height: 100%;
  float: left; }

.right-main {
  width: 60%; }

.info-list h3 {
  background: #cb2d3e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ef473a, #cb2d3e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 25px;
  font-size: 32px;
  font-weight: bold; }

.info-list table {
  width: 100%;
  font-size: 24px; }
  .info-list table thead {
    background: #aaa; }
    .info-list table thead tr th {
      padding: 25px;
      text-align: left;
      font-weight: bold; }
      .info-list table thead tr th:last-child {
        text-align: right; }
  .info-list table tbody tr td {
    padding: 25px;
    text-align: left; }
    .info-list table tbody tr td:last-child {
      text-align: right; }
  .info-list table tbody tr + tr {
    border-top: 1px solid #666; }

.site-video {
  height: 60%;
  overflow: hidden;
  background-color: #222; }

.site-queue {
  height: 40%; }
  .site-queue .queue-wrapper {
    float: left;
    width: 50%;
    height: 100%; }
    .site-queue .queue-wrapper .queue {
      width: 100%;
      height: 100%;
      background: #cb2d3e;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #ef473a, #cb2d3e);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #fff;
      text-align: center; }
      .site-queue .queue-wrapper .queue h1 {
        font-size: 152px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        display: block;
        width: 100%; }
      .site-queue .queue-wrapper .queue h2 {
        font-size: 82px;
        display: block;
        width: 100%; }
    .site-queue .queue-wrapper + .queue-wrapper {
      border-left: 1px solid #fff; }

.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 75px;
  padding: 20px 0;
  font-size: 32px;
  border-top: 1px solid #ff0121;
  overflow: hidden;
  text-overflow: clip;
  background: #fff; }
  .site-footer p {
    width: 100%;
    text-overflow: clip; }
